<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.pcstore.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pcstore.login.RegisterActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.catalog.CatalogActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.configuration.ConfigurationActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.component.ComponentActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.cart.CartActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.wishlist.WishlistActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.order.OrderActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.client.CardInfoActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.client.AddressActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.client.PersonalInformationActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.order.OrderCompletedActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.catalog_update.CatalogUpdateActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name="com.example.pcstore.catalog_update.ProductUpdateActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
    </application>

</manifest>